@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #080e1a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #080e1a;
  color: #f8fafc;
  font-family: var(--font-inter), var(--font-noto), sans-serif;
}

/* 讓影片不顯示控制列預設 UI */
video::-webkit-media-controls {
  display: none !important;
}
